#les-paniers {
    margin: 5%;
    border-radius: 0.5rem;
}

#image-panier {
    border-radius: 1.75rem;
    margin-bottom: 8%;
}

#paniers {
    margin-bottom: 10%;
}

#paniers h2{
    color: #202632;
    font-family: "Sansita", sans-serif;
    z-index: 100;
}

#paniers a{
    text-decoration: none;
    color: #FCF6EE;
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #202632;
    padding: 3%;
    border-radius: 0.75rem;
}