#super-accueil {
    background-image: url("./../image/epicerie.jpg");
    background-size: cover;
    border-radius: 1.5rem;
    width: 90%;
    display: block;
    margin: 5%;
    max-width: 100%;
    padding: 9%;
    box-shadow: 0px 3px 10px;
    z-index: 0;
}

#super-accueil p {
    color: #FFFF;
    font-family: "Sansita", sans-serif;
    font-size: 50px;
    z-index: 100;
}

.les-paniers {
    margin: 5%;
    border-radius: 0.5rem;
}

.image-panier {
    border-radius: 1.75rem;
    margin-bottom: 8%;
}

.paniers {
    margin-bottom: 4%;
}

.paniers h2{
    color: #202632;
    font-family: "Sansita", sans-serif;
    z-index: 100;
}

.paniers a{
    text-decoration: none;
    color: #FCF6EE;
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #202632;
    padding: 3%;
    border-radius: 0.75rem;
}

.message-fermeture {
    text-align: center;
    margin: 20px;
    border-radius: 0.5rem;
    margin-top: 130px;
} 

/*THEME SOMBRE DE L'APPLI, LE CODE CI-DESSOUS S'APPLIQUE QUAND MODE SOMBRE CLIQUE*/
[data-theme=dark]{
    .paniers a{
        color: #202632;
        background-color: #FCF6EE;
    }
    .paniers h2{
        color: #FCF6EE;
    }
    .super-accueil{
        box-shadow: 0px 0px 0px;
        border-style: solid;
        border-width: 5px;
        border-color: #FCF6EE;
    }
}

/*ACTIVATION POLICE OPENDYSLEXIC*/
[dyslexie-text=dys]{
    .paniers a{
        font-family: "OpenDyslexic", Arial, sans-serif;
    }
    .paniers h2{
        font-family: "OpenDyslexic", Arial, sans-serif;
    }
    #super-accueil p{
        font-family: 'OpenDyslexic', Arial, sans-serif !important;
        font-size: 40px;
    }
    #super-accueil{
        background-image: none;
        background-color: #202632;
    }
}