h1 {
    color: #202632;
    font-family: "Sansita", sans-serif;
    z-index: 100;
}

p {
    color: #202632;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#super-accueil {
    background-image: url("./../image/epicerie.jpg");
    background-size: cover;
    border-radius: 1.5rem;
    width: 90%;
    display: block;
    margin: 5%;
    max-width: 100%;
    padding: 9%;
    box-shadow: 0px 3px 10px;
    z-index: 0;
}

#super-accueil p {
    color: #FFFF;
    font-family: "Sansita", sans-serif;
    font-size: 50px;
    z-index: 100;
}

#les-paniers {
    margin: 5%;
    border-radius: 0.5rem;
}

#image-panier {
    border-radius: 1.75rem;
    margin-bottom: 5%;
}

#paniers {
    margin-bottom: 10%;
}

#paniers h2{
    color: #202632;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#paniers a{
    text-decoration: none;
    color: #FCF6EE;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #202632;
    padding: 3%;
    border-radius: 0.75rem;
}

[data-theme=dark]{
    #paniers a{
        color: #202632;
        background-color: #FCF6EE;
    }
    #paniers h2{
        color: #FCF6EE;
    }
    h1 {
        color: #FCF6EE;
    }
    p{
        color: #FCF6EE;
    }
    #super-accueil{
        box-shadow: 0px 0px 0px;
        border-style: solid;
        border-width: 5px;
        border-color: #FCF6EE;
    }
}

[dyslexie-text=dys]{
    #paniers a{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #paniers h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #super-accueil p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
    #super-accueil{
        background-image: none;
        background-color: #202632;
    }
}