#super-accueil {
    background-image: url("./../image/epicerie.jpg");
    background-size: cover;
    border-radius: 1.5rem;
    width: 90%;
    display: block;
    margin: 5%;
    max-width: 100%;
    padding: 9%;
    box-shadow: 0px 3px 10px;
    z-index: 0;
}

#super-accueil p {
    color: #FFFF;
    font-family: "Sansita", sans-serif;
    font-size: 50px;
    z-index: 100;
}

#les-paniers {
    margin: 5%;
    border-radius: 0.5rem;
}