.les-paniers {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 0.5rem;
}

.image-panier {
    border-radius: 1.75rem;
    margin-bottom: 8%;
}

.paniers {
    margin-bottom: 15%;
    border-style: solid;
    border-color: #dbd5ce;
    border-width: 4px;
    padding: 9%;
    border-radius: 1.75rem;
    background-color: #FCF6EE;
    box-shadow: -3px 3px 15px;
}

.paniers h2{
    color: #194961;
    font-family: "Sansita", sans-serif;
    z-index: 100;
}

.paniers a{
    text-decoration: none;
    color: #FCF6EE;
    font-family: "Martel", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: #202632;
    padding: 3%;
    border-radius: 0.75rem;
}

.message-fermeture {
    text-align: center;
    margin: 20px;
    border-radius: 0.5rem;
    margin-top: 130px;
}

.reserver {
    margin-top: 30px;
}

.price {
    font-size: 30px;
    color: rgb(1, 172, 1);
}

article p {
    text-align:center;
    color: #194961;
}

article h1 {
    text-align:center;
    color: #194961;
}

article {
    margin-top:15px;
}

.ajt-panier {
    background-color: #EE7744;
    color: #FCF6EE;
    border: none;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

[data-theme=dark]{
    .price {
        font-size: 30px;
        color: rgb(1, 172, 1);
    }
    .paniers {
        background-color: #194961;
        border-color: #EE7744;
        border-width: 3px;
        border-style: solid;
        box-shadow: 0px 0px 0px;
    }
    .paniers a{
        color: #194961;
        background-color: #FCF6EE;
    }
    h2 {
        color: #FCF6EE;
    }
}