html {
    background-color: #FDFAF5;
}

.header {
    background-color: #FCF6EE;
    box-shadow: 0px 2px 8px;
    position: fixed;
}

#menu-burger {
    margin-right: 1%;
}

.dropdown {
    width: 30%;
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    background-color: #FCF6EE !important;
}

#case :hover {
    background-color: orange;
    color: aliceblue;
}

summary::after{
background-image: url(../image/bars-solid.png) !important;
}

[data-theme=dark]{
summary::after{
background-image: url(../image/bars-solid-light.png) !important;
};
.header{
background-color: #202632 !important;
box-shadow: 0px 2px 8px !important;
};
.fond-d-ecran{
background-color: #202632 !important;
};
}

@media screen and (min-width: 900px) {
    
            #logo {
                width: 13%;
                margin-left: 1%;
            }

            .lecoindessaveurs {
                margin-right: 0%;
            }

            #titre {
                 width: 60%;
            }

}

@media screen and (max-width: 720px) {
            
            #logo {
                width: 55%;
                margin-left: 15%;
                margin-right: 0%;
            }
            
            .lecoindessaveurs {
                margin-right: 10%;
            }

            #titre {
                 width: 100%;
            }

}

@media screen and (min-width: 720px) and (max-width: 900px) {
            
            #logo {
                width: 20%;
                margin-left: 1%;
            }

            .lecoindessaveurs {
                margin-right: 10%;
            }

            #titre {
                 width: 70%;
            }

        }